.discover-section {
  width: 100%;
  height: 400px;

  padding: var(--spacing-vertical-large);
}

.discover-section__header {
  @extend .media-group__header;
}

.discover-section__search {
  background-color: var(--lbry-white);
  border: 1px solid var(--lbry-gray-1);
  border-radius: 2rem;
  color: var(--lbry-black);
  display: block;
  font-size: 1rem;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem !important;
  width: 500px;

  html[data-mode='dark'] & {
    background-color: mix($lbry-black, $lbry-gray-3, 90%);
    color: var(--lbry-white);
  }
}

.discover-section__tags {
  width: 100%;
  height: 50%;

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.discover-section__tag {
  align-items: center;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  text-align: center;
}

.discover-section__title {
  @extend .media-group__header-title;
}
