.search__header {
  margin-bottom: var(--spacing-vertical-large);

  .placeholder {
    background-color: rgba($lbry-white, 0.1);
  }

  .media__subtitle {
    font-size: 0.7em;
  }
}

.search__title {
  font-size: 3em;
  align-items: center;
  cursor: default;
  display: flex;
  font-weight: 700;
  line-height: 1.33;
  margin-bottom: var(--spacing-vertical-large);

  > * {
    margin-left: var(--spacing-vertical-small);
  }
}

.search__results-section {
  margin-bottom: var(--spacing-vertical-large);
  min-height: 200px;
  position: relative;
}

.search__results-title {
  @extend .media-group__header-title;
  margin-bottom: var(--spacing-vertical-large);
}

.search__options-wrapper {
  font-size: 1.25em;
  margin-bottom: var(--spacing-vertical-large);
}

.search__options {
  margin-top: var(--spacing-vertical-large);

  legend {
    &.search__legend--1 {
      background-color: $lbry-teal-1;
    }

    &.search__legend--2 {
      background-color: $lbry-cyan-1;
    }

    &.search__legend--3 {
      background-color: $lbry-pink-1;
    }

    [data-mode='dark'] & {
      &.search__legend--1 {
        background-color: $lbry-teal-5;
      }

      &.search__legend--2 {
        background-color: $lbry-cyan-5;
      }

      &.search__legend--3 {
        background-color: $lbry-pink-5;
      }
    }
  }

  fieldset:not(:first-child) {
    margin-top: var(--spacing-vertical-large);
  }
}

.home {
  padding: 5em;
  background-color: $lbry-white;
  // height: 20rem;

  .h {
    width: 60vw;
    // border-bottom: solid 0.3em lighten($lbry-black, 30%);
    // margin-left: 4em;
    margin: auto;
  }

  .big {
    input {
      &:not(:focus) {
        border: none !important;
      }

      font-size: 6em;
      height: 1.5em;
      // font-weight: bold;
      font-weight: 300;
    }
  }

  input {
    margin: 0 !important;
  }

  h3 {
    // font-weight: 700;
    color: lighten($lbry-black, 50%);
    margin-bottom: 5px;
    margin-top: 30px;
  }

  .options {
    display: flex;

    & > * {
      margin-right: 50px;
    }
  }

  .tags {
    ul {
      display: flex;
      flex-wrap: wrap;
      max-width: 200px;

      li {
        padding: 2px 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        border: 1px solid $lbry-teal-4;
        border-radius: 10px;
        font-weight: 700;
        color: $lbry-teal-4;

        &.chosen {
          background-color: $lbry-teal-4;
          color: $lbry-white;
        }
      }
    }
  }
}
